/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("4872987.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

} 
.titulo{ 
    font-size: 60px;
    color: black;
    text-align: center;
 }

 .imagent{
    image-orientation: from-image;
 }

 .imgs{
    text-align: center;
 }